.program-form-wrapper {
  width: 480px;
  background-color: #ffffff;
  padding: 35px;
  border-radius: 20px;

  color: #cccccc;
  margin-left: auto;
  flex-shrink: 0;
}

.program-form {
  display: flex;

  flex-direction: column;
  gap: 22px;
}

.row {
  display: flex;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field.full {
  width: 100%;
}

label {
  font-size: 14px;
  color: #636363;
  margin-bottom: 6px;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 13px;
  border-radius: 12px;
  border: 1px solid #dddddd;
  background: #fafafa;
  outline: none;
  font-size: 15px;
}

input:focus,
textarea:focus {
  border-color: #999;
}

.submit-btn {
  width: 100%;
  padding: 16px;
  background: #131a26;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.88;
}

@media (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
