.program-form-wrapper {
  width: 420px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 22px;
  height: 500px;
  color: #e3e3e3;
  margin-left: auto;
  flex-shrink: 0;
}

.program-form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 15px;
}

.field {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.program-form label {
  font-size: 14px;
  color: #a1a1a1;
  margin-bottom: 6px;
  font-weight: 500;
}

input,
textarea {
  width: 100%;
  padding: 13px;
  border-radius: 12px;
  border: 1px solid #dddddd;
  outline: none;
  font-size: 15px;
}

input:focus,
textarea:focus {
  border-color: #999;
}

.submit-btn {
  width: 100%;
  padding: 16px;
  background: #1e2432;
  color: white;
  margin-top: 30px;
  border-radius: 12px;
  font-size: 14px;
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.88;
}

@media (max-width: 762px) {
  .row {
    flex-direction: column;
  }
}
