.blog-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 50px;
}

.blog-list-container h2 {
  font-size: 37.5px;
  text-align: center;
}

.blog-list-container .blog-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 15px;
}

.clamp-3 {
  line-height: 1.5em;
  max-height: calc(1.5em * 3);
  overflow: hidden;
}

.blog-list article {
  border-radius: 12px;
  position: relative;
  border: 0.5px solid lightgrey;
  transition: box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.blog-list article:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.18);
}

.blog-image-wrapper {
  position: relative;
  display: inline-block;
}

.blog-image-wrapper img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.blog-image-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 60%; /* how much of the image the shadow covers */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.4),
    /* dark at bottom */ rgba(0, 0, 0, 0) /* transparent at top */
  );
  pointer-events: none;
}

.blog-image {
  width: 100%;
  height: 255px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.blog-category {
  position: absolute;
  right: 0;
  margin: 15px;
  background-color: #1e2432;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 12px;
  z-index: 1000;
}

.blog-content {
  flex: 1; /* pushes footer to the bottom */
  display: flex;
  flex-direction: column;
}

.blog-list article h3 {
  margin: 30px 30px 0px 30px;
}

.blog-list article p {
  margin: 10px 30px 20px 30px;
}

.blog-list article a {
  margin: 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: #1e2432;
  font-weight: 500;
  font-size: 12px;
}

.blog-footer {
  margin-top: 20px;
  padding: 0px 30px;
  padding-top: 10px;
  padding-bottom: 0px;
  height: 40px;
  border-top: 1px solid lightgray;
  border-end-end-radius: 12px;
  border-end-start-radius: 12px;
}

.blog-footer span {
  font-size: 12px;
  color: #adadad;
}

@media (max-width: 1024px) {
  .blog-list-container {
    padding: 20px 30px;
  }

  .blog-list {
    flex-direction: column;
    flex: 1;
    align-items: center;
  }

  .blog-list article {
    /* width: 100%; */
    /* max-width: 435px; */
  }

  .blog-image {
    /* width: 100%; */
    /* height: auto; */
  }
}

@media (max-width: 768px) {
  .blog-list-container {
    padding: 20px 20px;
  }

  .blog-list-container h2 {
    font-size: 28px;
  }

  .blog-list {
    flex-direction: column;
    /* flex-wrap: wrap; */
    /* align-items: center; */
  }
  .blog-list article {
    width: 60%;
    max-width: 6%;
  }

  .blog-image {
    width: 60%;
    height: auto;
  }
}
