* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.future-generation h1 {
  color: white;
}

.future-generation {
  background-color: #1e2432;
  color: #ffffff;
  height: 70vh;
}

.program-future {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  color: #1e2432;
}

.program-text {
  max-width: 30%;
  margin: auto;
  color: #1e2432;
}

.program-text h1 {
  font-size: 30px;
  margin-bottom: 20px;
  color: #1e2432;
}

.benefits {
  padding: 2rem;
  background: #0f1a2b;
  color: #e6eaf0;
}

.benefits h2 {
  font-size: 1.75rem;
  line-height: 1.2;
  margin: 0 0 1rem 0;
  position: relative;
  width:fit-content;
  left: 22cap;
  font-weight: 700;
  color: #fff;
 
}

.benefits .benefits-lists {
  display: flex;
  gap: 10rem;
  align-items: flex-start;
  justify-content: center;
}

.benefits .benefits-lists ul {
  list-style: disc;
  padding-left: 1.25rem;
  margin: 0;
}

.benefits .benefits-lists ul li {
  margin: 0.5rem 0;
  color: #e6eaf0;
}

.benefits .benefits-lists ul li span {
  display: inline;
}

