.head-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding: 20px 65px;
  font-family: Poppins, sans-serif;
  color: #1f283c;
  border-bottom: 2px solid #f6f6f6;
}

.head-container h2 {
  font-size: 30px;
  font-weight: 600;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: flex-start;
  padding: 65px;
}
.course-card {
  font-family: Poppins, sans-serif;
  width: 425px;
  height: 500px;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.25s;
}

.course-img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.course-body {
  padding: 20px;
}

.course-badge {
  color: white;
  font-size: 10px;
  padding: 4px 4px;
  border-radius: 7.5px;
}

.course-rating {
  float: right;
  font-size: 14px;
  color: #222;
}

.course-rating small {
  color: #777;
}

.course-title {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #101010;
}

.course-description {
  margin: 10px 0 20px;
  font-size: 14px;
  color: #5a5a5a;
  line-height: 1.4;
}

.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.installments {
  font-size: 18px;
  font-weight: 700;
  padding-left: 15px;
}

.apply-btn {
  font-family: Poppins, sans-serif;
  background: #1e2432;
  color: white;
  padding: 18px 44px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

.apply-btn-small {
  font-family: Poppins, sans-serif;
  background: #1e2432;
  color: white;
  padding: 10px 22px;
  border-radius: 8px;
  font-size: 10px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}
