.form-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 40px 0;
}

.application-form {
  padding: 30px 40px;
  border-radius: 16px;
  width: 90%;
  max-width: 800px;
}

.row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 20px;
}

.field.full {
  width: 100%;
}

label {
  color: #333;
  margin-bottom: 6px;
  text-align: left;
}

input,
textarea {
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

input:focus,
textarea:focus {
  border-color: #1e2a3a;
}

.submit-btn {
  background-color: #1e2a3a;
  color: white;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
  transition: background 0.3s;
  position: relative;
  left: 10;
  bottom: 0;
}

.submit-btn:hover {
  background-color: #263850;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  transform:  translate(-30%, 100%);
  width: 100%;
  height: 5vh;
}

.container h1 {
  color: #1e2a3a;
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: left;
  max-width: 500px;
}

.container span {
  color: #1e2a3a;
  font-weight: bold;
}


.container p {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  text-align: left;
  max-width: 500px;
}

