body {
  background: #f5f5f5;
}

.home-intro-container {
  height: 749px;
}

.background-image {
  position: absolute;
  width: 100%;
  object-fit: cover;
  height: 780px;
  z-index: -1;
  opacity: 0.05;
}

.app-wrapper {
  display: flex;
  z-index: 1000;
  gap: 50px;
  align-items: center;
  padding: 10% 5%;
  justify-content: space-between;
}

.hero-text {
  width: 65%;
}

.hero-text h1 {
  font-size: 45px;
  line-height: 1;
  color: #1e2432;
  margin-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

.hero-text h1 strong {
  font-weight: 700;
}

.hero-text p {
  font-size: 16px;
  color: #1e2432;
  margin-bottom: 30px;
  width: 600px;
  line-height: 1.7;
  font-family: Poppins, sans-serif;
}

.hero-button {
  padding: 20px 60px;
  background-color: #1e2432;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  font-size: 100%;
  border: 2px solid #1e2432;
  font-family: Poppins, sans-serif;
}

.hero-button:hover {
  border: 2px solid #1e2432;
  color: #1e2432;
  background-color: #ffffff;
}

.container h1 {
  color: #1e2a3a;
  font-weight: 200;
  margin-bottom: 20px;
  font-size: 40px;
  text-align: left;
  max-width: 500px;
}

.container span {
  color: #1e2a3a;
  font-weight: bold;
}

.container p {
  color: #333;
  text-align: center;
  margin-bottom: 40px;
  text-align: left;
  max-width: 500px;
}

.apply-button {
  border: 1px solid white;
  background-color: #1e2432;
  color: #ffffff;
  background-color: #1e2432;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1200px) {
  .app-wrapper {
    width: fit-content;
    justify-content: space-around;
  }

  .hero-text h1 {
    font-size: 40px;
  }

  .hero-text p {
    font-size: 16px;
    width: 70%;
  }

  .hero-button {
    padding: 20px;
    font-size: 14px;
  }
}

@media screen and (max-width: 925px) {
  .home-intro-container {
    height: fit-content;
  }
  .app-wrapper {
    display: flex;
    flex-direction: column;
    padding: 50px;
  }
}
