.cards-Wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  padding: 65px;
}
.course-Card {
  width: 325px;
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  transition: 0.25s;
}

.course-Img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.course-Body {
  padding: 20px;
}

.course-Badge {
  color: white;
  font-size: 10px;
  padding: 4px 4px;
  border-radius: 7.5px;
}

.course-Rating {
  float: right;
  font-size: 14px;
  color: #222;
}

.course-Rating small {
  color: #777;
}

.title {
  margin-top: 15px;
  font-size: 25px;

  font-weight: bold;
  color: #101010;
}

.course-Description {
  margin: 10px 0 20px;
  font-size: 15px;
  color: #5a5a5a;
  line-height: 1.4;
}

.course-Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.Installments {
  font-size: 18px;
  font-weight: 700;
  padding-left: 15px;
}

.apply-Btn {
  background: #1e2432;
  color: white;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

/* ================= Responsive ================= */

/* Tablete (768px - 1024px) */


@media (max-width: 1024px) {
  .cards-Wrapper {
    padding: 40px;
    justify-content: center;
  }

  .course-Card {
    width: 280px;
  }

  .title {
    font-size: 22px;
  }
}


/* Mobile */
@media (max-width: 768px) {
  .cards-Wrapper {
    padding: 20px;
    gap: 16px;
  }

  .course-Card {
    width: 100%;
  }

  .course-Img {
    height: 170px;
  }

  .title {
    font-size: 20px;
  }

  .course-Description {
    font-size: 14px;
  }

  .apply-Btn {
    padding: 8px 14px;
    font-size: 11px;
  }
}

