.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 120px;
  gap: 80px;
  height: 550px;
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  background: #1e2432;
}
.left-div {
  align-items: center;
  justify-content: center;
}
.apply-title {
  font-size: 35px;
}
.apply-button {
  background-color: #1e2432;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;

  cursor: pointer;
  border: 2.5px solid white;
}

.apply-button:hover {
  background-color: white;
  color: black;
}
/* @media (max-width: 1024px) {
  .main-container {
    padding: 50px 60px;
    gap: 40px;
  }

  .apply-title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
    text-align: center;
    gap: 40px;
  }
}
@media (max-width: 480px) {
  .apply-title {
    font-size: 22px;
  }

  .description {
    font-size: 14px;
  }
} */
