.appForm-section {
  background: #1e2432;
  min-height: 100vh;
  padding: 60px 20px;
  text-align: center;
  color: #ffffff;
  font-family: Poppins, sans-serif;
}

.appForm-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ffffff;
  font-family: Poppins, sans-serif;
}

.appForm-subtitle {
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 16px;
  font-family: Poppins, sans-serif;
}

.appForm-box {
  background: #ffffff;
  max-width: 580px;
  margin: 0 auto;
  padding: 35px;
  border-radius: 20px;
  text-align: left;
}

.appForm-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.appForm-field label {
  font-size: 14px;
  font-weight: 500;
  color: #a1a1a1;
  font-family: Lato, sans-serif;
  margin-bottom: 6px;
}

.appForm-field input,
.appForm-field textarea {
  background: #ffffff;
  border: 1px solid #b5b5b5;
  border-radius: 10px;
  padding: 12px 14px;
  font-size: 15px;
  outline: none;
  color: #a1a1a1;
  font-weight: 400;
}

.appForm-field textarea {
  height: 120px;
  resize: none;
}

.appForm-row {
  display: flex;
  gap: 20px;
}

.appForm-row .appForm-field {
  flex: 1;
}

.appForm-submit {
  width: 100%;
  background: #1e2432;
  color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  letter-spacing: 1px;
}

.appForm-submit:hover {
  background-color: #4054b2;
}


/* Tablets */
@media (max-width: 1024px) {
  .appForm-box {
    padding: 30px;
  }

  .appForm-title {
    font-size: 28px;
  }

  .appForm-subtitle {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .appForm-field input,
  .appForm-field textarea {
    font-size: 14px;
    padding: 10px 12px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .appForm-box {
    width: 100%;
    padding: 20px;
  }

  .appForm-title {
    font-size: 24px;
  }

  .appForm-subtitle {
    font-size: 14px;
    margin-bottom: 25px;
    text-align: center;
  }

  .appForm-row {
    flex-direction: column;
    gap: 15px;
  }

  .appForm-field input,
  .appForm-field textarea {
    font-size: 13px;
    padding: 10px;
  }

  .appForm-field textarea {
    height: 100px;
  }

  .appForm-submit {
    font-size: 14px;
    padding: 12px;
  }
}