.success-text {
  width: 1351px;
  height: 419.7px;
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 50px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
}

.text-block {
  width: 990px;
  height: 100%;
  padding-left: 50px;
  text-align: left;
  overflow: hidden;
  margin-top: 80px;
}

.text-block h2 {
  margin: 0 0 6px 0;
  font-size: 25px;
  line-height: 1.2;
  color: #1e2432;
  font-family: Poppins, sans-serif;
  margin-bottom: 30px;
}

.text-block p {
  margin: 0 0 6px 0;
  font-size: 16px;
  line-height: 1.3;
  color: #777777;
  column-gap: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.text-block p:last-of-type {
  margin-top: 20px;
}



/* Responsive Styles */

/* Tablets */
@media (max-width: 1024px) {
  .success-text {
    padding: 40px;
  }

  .text-block {
    padding-left: 30px;
    margin-top: 50px;
  }

  .text-block h2 {
    font-size: 22px;
    margin-bottom: 25px;
  }

  .text-block p {
    font-size: 15px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .success-text {
    flex-direction: column;
    padding: 30px 20px;
    height: auto;
    align-items: flex-start;
  }

  .text-block {
    padding-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  .text-block h2 {
    font-size: 20px;
  }

  .text-block p {
    font-size: 14px;
  }
}