.why-container {
  display: flex;
  padding: 80px 120px;
  gap: 40px;
  position: relative;
  margin-top: 80px;
}

.why-text {
  width: 350px;
  margin-top: 0;
}

.why-text h2 {
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #1e2432;
  font-family: Poppins, sans-serif;
}

.why-text p {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 6px;
  color: #7a7a7a;
  font-family: Poppins, sans-serif;
  font-weight: 545;
}

.why-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 55%; 
  overflow: hidden;
}

.why-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right; 
}

/* Responsive Styles */

/* Tablets */
@media (max-width: 1024px) {
  .why-container {
    padding: 60px 60px;
    gap: 30px;
  }

  .why-text {
    width: 300px;
  }

  .why-text h2 {
    font-size: 22px;
  }

  .why-text p {
    font-size: 15px;
  }

  .why-image {
    width: 50%;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .why-container {
    flex-direction: column;
    padding: 40px 20px;
    gap: 20px;
    position: relative;
  }

  .why-text {
    width: 100%;
    text-align: center;
    z-index: 1;
  }

  .why-text h2 {
    font-size: 20px;
  }

  .why-text p {
    font-size: 14px;
  }

  .why-image {
    position: relative;
    width: 100%;
    height: 250px; /* përshtat lartësinë sipas imazhit */
  }

  .why-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}