.programs12-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.hero-section {
  background: #1e2432;
  color: #FFFFFF;
  padding: 90px 120px;
}

.hero-section h1 {
  font-size: 37px;
  font-family: Poppins,sans-serif;
  font-weight: 700;
  width: 550px;
  line-height: 1.2;
  margin-bottom: auto;
}

.apply-bbtn {
  margin-top: 30px;
  background: #1e2432;
  color: #FFFFFF;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid  #FFFFFF;
  margin-top: 40px;
}

.apply-bbtn:hover {
  background-color:  #FFFFFF;
  color: #1e2432;
  border: 1px solid #1e2432;
}


.stats-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
  margin-top: -40px;
  gap: 110px;
}
.stat-box {
  text-align: center;
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.stat-box h2 {
  font-size: 36px;
  color: #1e2432;
  font-family: Poppins, sans-serif;
  font-weight: 850;
  margin-bottom: 6px; 
}

.stat-box p {
  font-size: 16px;
 color: #4B5563;
 font-family: Poppins, sans-serif;
 white-space: normal;
 text-align: center;
 max-width: 100px;
 margin-top: 10px;
}

