.programs12-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.programs-grid {
  width: 95%;
  margin: 0 auto;
}

.hero-section {
  background: #1e2432;
  color: #ffffff;
  padding: 90px 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hero-section h1 {
  font-size: 37px;
  font-family: Poppins, sans-serif;
  font-weight: 700;
  /* width: 550px; */
  line-height: 1.2;
  margin-bottom: auto;
}

.apply-bbtn {
  margin-top: 30px;
  background: #1e2432;
  color: #ffffff;
  padding: 20px 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid #ffffff;
  margin-top: 40px;
}

.apply-bbtn:hover {
  background-color: #ffffff;
  color: #1e2432;
  border: 1px solid #1e2432;
}

.stats-section {
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
  padding: 20px;
  line-height: 1;
}

.stats-section-dark {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  gap: 25px;
  align-items: center;
  padding: 20px;
  line-height: 1;
  background: linear-gradient(to right, #1e2432, #213666);
}

.stat-box {
  font-family: Poppins, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
}

.stat-box-dark {
  font-family: Poppins, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1;
  color: #ffffff;
}

.stat-box h2 {
  font-size: 36px;
  color: #1e2432;
  font-family: Poppins, sans-serif;
  font-weight: 850;
  margin-bottom: 0;
}
.stat-box-dark h2 {
  font-size: 36px;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-weight: 850;
  margin-bottom: 0;
}

.stat-box p {
  font-size: 16px;
  color: #4b5563;
  font-family: Poppins, sans-serif;
  white-space: normal;
  text-align: center;
  margin-top: 0;
}

.stat-box-dark p {
  font-size: 16px;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  white-space: normal;
  text-align: center;
  margin-top: 0;
}

@media (max-width: 1200px) {
  .hero-section {
    padding: 60px 80px;
  }

  .hero-section h1 {
    width: 100%;
    font-size: 32px;
  }
}

@media (max-width: 1024px) {
  .hero-section {
    padding: 60px 80px;
  }

  .hero-section h1 {
    width: 100%;
    font-size: 32px;
  }

  .stats-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 0;
    padding: 40px 20px;
  }

  .stats-section > :nth-child(n + 5) {
    display: none;
  }

  .stats-section-dark {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 0;
    padding: 40px 20px;
  }

  .stats-section-dark > :nth-child(n + 5) {
    display: none;
  }

  .stat-box p {
    max-width: 120px;
  }
}
@media (max-width: 768px) {
  .hero-section {
    padding: 50px 30px;
  }

  .hero-section h1 {
    font-size: 28px;
    width: 100%;
  }

  .apply-bbtn {
    padding: 15px 25px;
    font-size: 14px;
  }

  .stats-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 0;
    padding: 40px 20px;
  }

  .stats-section-dark {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 0;
    padding: 40px 20px;
  }

  .stat-box h2 {
    font-size: 28px;
  }

  .stat-box p {
    max-width: 150px;
    font-size: 14px;
  }
  .stat-box-dark h2 {
    font-size: 36px;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    font-weight: 850;
    margin-bottom: 0;
  }

  .stat-box-dark p {
    font-size: 16px;
    color: #ffffff;
    font-family: Poppins, sans-serif;
    max-width: 150px;
    font-size: 14px;
  }
}
