.roi-wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.roi-wrapper p {
  color: #7a7a7a;
  text-align: left;
  justify-content: center;
  max-width: 900px;
}
.roi-content {
  max-width: 900px;

  gap: 20px;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.roi-card {
  padding: 20px;
  color: #7a7a7a;
  background-color: #fafafa;
  font-size: 10px;
  border-radius: 18px;
  background-color: #ffffff;
}

.roi-card h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2432;
}

.roi-card h4 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #1e2432;
}

.roi-card ul {
  list-style: disc;
  padding-left: 20px;
  line-height: 1.6;
}

/* @media (max-width: 900px) {
  .roi-content {
    flex-direction: row;
  }
} */
