.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  line-height: 2;
  text-align: left;
}

.card {
  flex: 0 0 calc(50% - 20px);
  background: white;
  padding: 20px;
  border-radius: 12px;
  color: grey;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
