.about-roi-container {
  background: radial-gradient(
      circle at bottom right,
      #4054b2 0%,
      #2f3b73 35%,
      rgba(47, 59, 115, 0.4) 55%,
      rgba(47, 59, 115, 0) 70%
    ),
    linear-gradient(to right, #1e2432 0%, #1e2432 100%);
  background-color: #1e2432;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  line-height: 1.5;
  padding: 40px 0;
  color: #fff;
  text-align: left;
}

.about-roi-container h2 {
  font-size: 40px;
}

.about-roi-container p {
  font-size: 20px;
  width: 80%;
  margin: 20px 0;
}

.about-roi-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.check-icon {
  font-size: 24px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.about-roi-btn {
  width: 20%;
  height: 50px;
  background-color: white;
  color: #1b2554;
  border-radius: 10px;
  font-size: 13px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
.about-roi-btn:hover {
  background-color: #1e2432;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .about-roi-container {
    gap: 30px;
  }

  .about-roi-container img {
    width: 340px;
  }

  .about-roi-btn {
    width: 220px;
    height: 50px;
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  .about-roi-btn {
    width: 210px;
    height: 48px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .about-roi-container {
    flex-direction: column;
    padding: 50px;
  }

  .about-roi-btn {
    width: 200px;
    height: 48px;
    font-size: 14px;
  }
}
