.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 55px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo {
  height: 40px;
}

.header__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-bottom {
  margin-top: 5px;
}

.header__nav li {
  color: #7a7a7a;
  font-weight: 600;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  padding: 13px 20px;
}

.header__nav li:hover {
  color: #4054b2;
  border-bottom: 3px solid #4054b2;
  transition: color 0.3s;
}

.apply-btn {
  background-color: #1e2432;
  color: white;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.apply-btn:hover {
  background-color: #fff;
  color: #1e2432;
  border: 1px solid #1e2432;
}
