.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 95px;
}

.header__left {
  padding: 0px;
  cursor: pointer;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 98px;
}

.logo {
  padding-top: 5px;
  padding-left: 8px;
}

.header__center {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
}

.nav-bottom {
  margin-top: 5px;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
}

.header__nav li {
  display: flex;
  color: #7a7a7a;
  font-weight: 600;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  padding: 0px 20px;
  border-bottom: 3px solid transparent;
}

.mobile-icon {
  display: none;
  font-size: 28px;
  color: #1e2432;
  cursor: pointer;
}

.header__nav li:hover {
  color: #4054b2;
  border-bottom: 3px solid #4054b2;
}

.header__right {
  width: 13%;
  display: flex;
  justify-content: center;
  margin-right: 110px;
}

.apply-bttn {
  background-color: #1e2432;
  color: #ffffff;
  font-size: 14px;
  font-family: Poppins, sans-serif;
  border: none;
  padding: 17.5px 40px;
  border-radius: 8px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.apply-bttn:hover {
  background-color: #fff;
  color: #1e2432;
  border: 2px solid #1e2432;
}

.header__nav li.active:hover {
  color: #4054b2;
  border-bottom: 3px solid #4054b2;
}

.header__nav a {
  color: #7a7a7a;
  text-decoration: none;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

.header__nav a:visited {
  color: #7a7a7a;
  text-decoration: none;
}

.header__nav li.active a {
  color: #7a7a7a;
  text-decoration: none;
}

.header__nav li:hover a {
  color: #4054b2;
  text-decoration: none;
}

/* dropDown list section desing*/
.dropbtn {
  color: #7a7a7a;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  width: auto;
  position: absolute;
  margin-top: 2px;
  background-color: #f9f9f9;
  color: #7a7a7a;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.anchor {
  color: #272432;
  text-decoration: none;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 12px;
  width: 100%;
  font-family: inherit;
}

.dropdown-content .anchor:hover {
  background-color: #1e2432;
  width: auto;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
}

.dropdown:hover .dropbtn {
  text-decoration: underline;
  color: #4a5ba8;
}

.apply-btn-mobile button {
  display: none;
}

@media screen and (max-width: 1410px) {
  .header__left,
  .header__center,
  .header__right {
    /* flex-wrap: wrap;
    justify-content: center;
    justify-items: center; */
      display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
  justify-content: center;
  gap: 24px;
  }
}

@media screen and (max-width: 925px) {
  .header {
    /* flex-direction: column; */
    height: auto;
    padding: 10px 0;
  }

  .header__left,
  .header__center,
  .header__right {
    /* width: 100%; */
    margin: 5px 0;
    justify-content: center;
    justify-items: center;
  }

  .header__nav ul.nav-top {
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    background-color: white;
    top: -800px;
    right: 0px;
    transition: left 0.3s ease-in-out;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .header__nav ul.nav-top.active {
    top: 80px;
    position: absolute;
    height: auto;
    padding-bottom: 10px;
  }

  .header__nav ul li,
  a {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }

  .header__nav ul li,
  a {
    width: 100%;
    text-align: center;
    padding: 5px 0;
  }

  .header__right {
    display: none;
  }

  .apply-bttn {
    padding: 12px 30px;
    font-size: 12px;
    display: block;
  }

  .mobile-icon {
    display: block;
  }
}
