.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 55px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 9999;
}

.header__left {
  cursor: pointer;
}

.logo {
  height: 40px;
}

.header__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__nav ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.nav-bottom {
  margin-top: 5px;
}

.header__nav li {
  color: #7a7a7a;
  font-weight: 600;
  cursor: pointer;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  padding: 13px 20px;
}

.header__nav li:hover {
  color: #4054b2;
  border-bottom: 3px solid #4054b2;
  transition: color 0.3s;
}

.apply-bttn {
  background-color: #1e2432;
  color: #ffffff;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.apply-bttn:hover {
  background-color: #fff;
  color: #1e2432;
  border: 1px solid #1e2432;
}

.header__nav li.active:hover {
  color: #4054b2;
  border-bottom: 3px solid #4054b2;
}

.header__nav a {
  color: #7a7a7a;
  text-decoration: none;
  font-weight: 600;
  font-family: Poppins, sans-serif;
}

.header__nav a:visited {
  color: #7a7a7a;
  text-decoration: none;
}

.header__nav li.active a {
  color: #7a7a7a;
  text-decoration: none;
}

.header__nav li:hover a {
  color: #4054b2;
  text-decoration: none;
}

/* dropDown list section desing*/
.dropbtn {
  color: #7a7a7a;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.anchor {
  color: #272432;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
  font-size: 12px;
}

.dropdown-content .anchor:hover {
  background-color: #1e2432;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: white;
}

.dropdown:hover .dropbtn {
  text-decoration: underline;
  color: #4a5ba8;
}
