.ot-container {
  color: #fff;
  height: auto;
  background-color: #1e2332;
  padding: 50px 100px;
display: flex;
flex-direction: column;
align-items: center;
}

.ot-head-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ot-head-container h2 {
  font-size: 37.5px;
  margin: 0;
  justify-content: center;
}

.ot-head-container p {
  font-size: 16px;
}
