/* styles.css */
.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.stat {
  text-align: center;
  padding: 20px;
  height: 15vh;
}

.value {
  display: block;
  font-size: 2.5rem;
  font-weight: 800;
  color: #111;
}

.label {
  font-size: 0.95rem;
  color: #555;
}
