.digital-marketing-program-section {
  height: 564px;
  background-color: red;
  background: #1e2432;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.program-container-a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  color: #ffffff;
  gap: 20;
}

.program-left-a {
  align-content: center;
  flex-wrap: wrap;
  position: relative;
  width: 55%;
  margin: none;
  padding: 10px;
}

.tittle-a {
  font-size: 37.5px;
  font-weight: 600;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

.subttitle-a {
  font-weight: 600;
  color: #ffffff;
  font-size: 37.5px;
  font-family: Poppins, sans-serif;
  word-wrap: none;
  margin: 0;
  line-height: 1;
}

.dessc-a {
  color: #ffffff;
  line-height: 1.6;
  text-align: left;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  margin-top: 22px;
  width: 100%;
}

.apply-btnn-a {
  padding: 16px 40px;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  font-family: Poppins, sans-serif;
}

.apply-btnn-a:hover {
  background: #ffffff;
  color: #1e2432;
}
.program-formm-a {
  background: #ffffff;
  padding: 23px;
  border-radius: 20px;
  width: 32%;
  margin-right: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.fieldd-a {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.fieldd-a label {
  font-size: 14px;
  font-family: Lato, sans-serif;
  font-weight: 500;
  color: #a1a1a1;
}

.program-formm-a textarea {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 13px;
}

.roww-a {
  display: flex;
  gap: 25px;
}

.submit-btnn-a {
  background: #1e2432;
  color: #ffffff;
  padding: 0px 20px;
  border-radius: 12px;
  font-weight: 600;
  min-height: 40px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
}

.submit-btnn-a:hover {
  opacity: 0.95;
  background-color: #4054b2;
}

.roww-a .fieldd-a input {
  margin-right: 12px;
}

@media (max-width: 1024px) {
  .digital-marketing-program-section {
    height: fit-content;
    padding: 30px;
  }

  .program-container-a {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .program-left-a {
    width: 100%;
  }

  .dessc-a {
    max-width: 100%;
  }

  .program-formm-a {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .digital-marketing-program-section {
    padding: 30px;
  }

  .program-container-a {
    flex-direction: column;
    align-items: center;
    padding: 0px 100px;
    gap: 30px;
  }

  .tittle-a,
  .subttitle-a {
    font-size: 28px;
    text-align: center;
  }

  .dessc-a {
    font-size: 14px;
    text-align: center;
    max-width: 100%;
  }

  .apply-btnn-a {
    padding: 12px 25px;
    font-size: 14px;
  }

  .program-formm-a {
    width: 100%;
    height: auto;
    padding: 50px;
  }

  .roww-a {
    flex-direction: column;
    gap: 15px;
  }

  .roww-a .fieldd-a input {
    margin-right: 0;
  }
}
