.success-texti {
  width: 100%;
  height: fit-content;
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 50px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
}

.text-blocki {
  width: 990px;
  height: 100%;
  padding-left: 50px;
  text-align: left;
  overflow: hidden;
  margin-top: 80px;
}

.text-blocki h2 {
  margin: 0 0 6px 0;
  font-size: 25px;
  line-height: 1.2;
  color: #1e2432;
  font-family: Poppins, sans-serif;
  margin-bottom: 30px;
}

.text-blocki p {
  margin: 0 0 6px 0;
  font-size: 16px;
  line-height: 1.3;
  color: #777777;
  column-gap: 20px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.text-blocki p:last-of-type {
  margin-top: 20px;
}
