.why-containeri {
  display: flex;
  justify-content: center;
  padding: 80px 120px;
  gap: 40px;
  position: relative;
  margin-top: 80px;
}

.why-texti {
  width: 350px;
  margin-top: 0;
}

.why-texti h2 {
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #1e2432;
  font-family: Poppins, sans-serif;
}

.why-texti p {
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 6px;
  color: #7a7a7a;
  font-family: Poppins, sans-serif;
  font-weight: 545;
}

.why-imagei {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  width: 55%;
  overflow: hidden;
}

.why-imagei img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: right;
}

@media (max-width: 1024px) {
  .why-containeri {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    align-items: center;
  }

  .why-texti {
    width: 80%;
    padding: ;
  }

  .why-imagei {
    width: 80%;
    object-fit: cover;
    object-position: center;
  }
}
