.section-container {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
  gap: 40px;
  background-color: #ffffff;
}

.section-column {
  flex: 1 1 45%;
  max-width: 550px;
  min-width: 300px;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #2c3e50;
}

.content-box {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 30px;

  border-right: 10px solid #efefef;
  border-bottom: 10px solid #efefef;
  border-top: 4px solid #efefef;
  border-left: 4px solid #efefef;
  min-height: 110px;
}

.content-text {
  font-size: 17px;
  line-height: 1.6;
  color: #1e2432;
  margin: 0;
}
.section-column2 {
  flex: 1 1 45%;
  height: 250px;
  max-width: 550px;
  min-width: 300px;
}

.content-box2 {
  padding: 30px;
  background-color: #ffffff;
  border-radius: 30px;

  border-right: 10px solid #efefef;
  border-bottom: 10px solid #efefef;
  border-top: 4px solid #efefef;
  border-left: 4px solid #efefef;
  min-height: 50px;
}
.content-text2 {
  font-size: 1px;
  line-height: 1.6;
  color: #4a4a4a;
  margin: 0;
  height: 2%;
}
